a{
	text-decoration: none;
	text-align: justify-all;
}

/* --- INICIO de Datos de Inserción de Datos Productos  --- */
p form .formProducts input{

	text-align: center;
}
.formProducts .Aceptar{
    font-size: 16px;
	border-radius: 4px;
	cursor: pointer;
	border: 0px;
	float: center;
	text-align: center;
	padding: 2px 10px;
}
	.Aceptar:hover{
	background: #3E0946;/*#C2878D;*/
	color: #FFFFFF;
	}

/* --- FIN de Datos de Inserción de Datos Productos --- */

.fondoFlotante{
	position: fixed;
    width: 100%;
    min-height: 100vh; /* espaciado hacia bajo para cubrir todos los elementos de la pagina */
    overflow: visible;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .8);
    display: none;
    cursor: not-allowed;
}

.ventanaFlotante{
	margin: auto 25%;
	background: rgba(255, 255, 255, .8);
	color: #000000; /* color de letra */
	cursor: initial;
	width: 40%;
	height: 80%;
	font-size: 22px;
	text-align: justify;
	padding: 33px;
	min-height: 150px; /* da un espaciado hacia bajo del recuadro */
	border-radius: 22px;
	position: fixed; /* posiciona el recuadro ensema de todo */
	left: 5%;
	top: 5%;
	display: none;
}

#cerrar{
	background: rgba(0, 0, 0, .7);
	color: red;
	position: fixed;
	right: 30.5%;
	bottom: 89%; /* permite subir */
	width: 30px;	/* tamaño de anchura del icono */
	height: 30px; /* tamaño de altura del icono */
	padding: 7px; /* centra el icono cerrar*/
	border-radius: 18px;
}

p{
	margin: auto 30%; /*altura = 10% y anchura = 30%*/
	text-align: justify;
}



/* * * * * * * * * Tamaños de a comodo para el recuadro de información * * * * * * * * */ 
@media screen and (max-width: 1125px){
	
}
@media screen and (max-width: 800px){
	
}
@media screen and (max-width: 720px){
	
}
@media screen and (max-width: 683px){
	
}
@media screen and (max-width: 640px){
	
}
@media screen and (max-width: 613px){
	
}
@media screen and (max-width: 500px){
	
}
@media screen and (max-width: 400px){
	
}
@media screen and (max-width: 395px){
	
}
@media screen and (max-width: 350px){
	
}
@media screen and (max-width: 330px){
	
}
@media screen and (max-width: 316px){

}
@media screen and (max-width: 300px){
	.fondoFlotante{
	    width: 100%;
	    min-height: 100vh; /* espacoiado hacia bajo para cubrir todos los elementos de la pagina */
	    left: 0;
	    top: 0;
	    display: none;
	    cursor: not-allowed;
	}

	.ventanaFlotante{
		margin: auto;
		cursor: initial;
		width: 90%;
		height: 25%;
		font-size: 20px;
		text-align: justify;
		padding: 22px;
		display: none;
		top: 20%;
	}

	#cerrar{
		right: 7%;
		bottom: 76%; /* permite subir */
		padding:6px; /* centra el icono cerrar*/
		border-radius: 18px;
	}

	p{
		margin: auto 30%; /*altura = automatica y anchura = 30%*/
		text-align: justify;
	}
}